{
  "extends": "kiwi",
  "root": true,
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/camelcase": [
      "error",
      {
        "properties": "never",
        "ignoreDestructuring": true
      }
    ]
  }
}
